@import url("animations.scss");
@import url("vuetify.scss");

@media (min-width: 960px) {
    .v-container {
        max-width: 1100px;
    }
}

@media (min-width: 1280px) {
    .v-container {
        max-width: 1500px;
    }
}

@media (min-width: 1500px) {
    .v-container {
        max-width: 1700px;
    }
}
